body {
  font-family: Lato;
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f4f4f4;
  cursor: pointer;
}

#content {
  height: 100px;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 5px;
}

hr {
  margin: 20px 0;
}

textarea {
  width: 100%;
}
